/* Base styles for card */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #141414;
    color: white;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style-type: none;
  }

  /* Global styles */
  .movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .movie-card {
    position: relative;
    width: 300px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .coverImage {
    width: 100%;
    height: 400px; 
    overflow: hidden;
  }
  
  .coverImage img {
    width: 100%; 
    height: 110%; 
    object-fit: cover; 
  }
  
  .content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .content p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ddd;
  }
  
  .content p strong {
    color: #e50813;
  }
  
  button.primary-btn {
    background: #e50813;
    border: none;
    color: white;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    align-self: flex-start;
  }
  
  button.primary-btn:hover {
    background-color: #c4060f;
  }
  
  button.primary-btn i {
    margin-right: 8px;
  }
  
  /* Responsive styling */
  @media only screen and (max-width: 768px) {
    .movie-container {
      justify-content: center;
      padding: 10px;
    }
  
    .movie-card {
      width: 250px;
      height: 400px;
    }
  
    .content h1 {
      font-size: 18px;
    }
  
    .content p {
      font-size: 12px;
    }
  
    button.primary-btn {
      font-size: 14px;
    }
  }
  